<div>
    <app-search-form (findUserEmitter)='getFindUser($event)'></app-search-form>
    <div class="row">
        <div class="col-md-5">
            <div *ngFor='let user of userDetail'>
                <div class="card" style="width: 18rem;">
                    <img src="{{user.avatar_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{user.login}}</h5>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Bio:{{user.bio}}</li>
                        <li class="list-group-item">Repos:{{user.public_repos}}</li>
                        <li class="list-group-item">Followers:{{user.followers}}</li>
                        <li class="list-group-item">Following:{{user.following}}</li>
                        <li class="list-group-item">Date-created:{{user.created_at|dateAgo}}</li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="col-md-7">
            <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <div *ngFor='let repo of repo'>
                            <div class="card">
                                <h5 class="card-header">{{repo.name}}</h5>
                                <div class="card-body">
                                    <p>{{repo.description}}</p>
                                    <a href="{{repo.html_url}}" class="btn btn-primary">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>